# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Introduce commonly used libraries in Data Science.
- Summarize Data Science tools.

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. Numpy
3. Pandas

|Data Science Tools|
|:------------------|
|RStudio           |
|Jupyter Notebook  |
|Spyder            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
print(result)

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Taha Alhasani